# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# ==============================
# Environment variables / secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# PyCharm
# ==============================

.idea/

# ==============================
# Local data
# ==============================

data/
*.xlsx
*.xls
*.csv

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Ruff
# ==============================

.ruff_cache/

# ==============================
# OS
# ==============================
Thumbs.db

# ==============================
# Python packaging
# ==============================

build/
dist/
*.egg-info/
.eggs/